absl-py
aiohappyeyeballs
aiohttp
aiosignal
appnope
asttokens
astunparse
attrs
bokeh
Brotli
cached-property
catboost==1.2.7
category-encoders==2.6.4
certifi
cffi
charset-normalizer
cloudpickle
colorama
coloredlogs
comm
contourpy
cycler
datasets
debugpy
decorator
dill
dm-tree==0.1.9
exceptiongroup
executing
fastjsonschema
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gmpy2
google-pasta
graphviz==0.20.3
grpcio
h2
h5py
hpack
huggingface_hub
humanfriendly
hyperframe
idna
imageio
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata
importlib_resources
iniconfig==2.1.0
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
libclang==18.1.1
lightgbm==4.5.0
linecache2==1.0.0
llvmlite==0.43.0
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl
missingno
ml_dtypes==0.5.1
mpmath
multidict
multiprocess
munkres==1.1.4
namex
nbformat
nest_asyncio
networkx
numba
numpy
opencv-python==4.11.0.86
opt_einsum
optimum
optree
packaging
pandas
parso
patsy
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
plotly
pluggy==1.5.0
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow==18.0.0
pycparser
Pygments
pynndescent
pyparsing
PySocks
pytest==8.3.5
python-dateutil
pytz
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn==1.5.1
scipy
seaborn
sentencepiece
setuptools==75.8.0
shap
six
slicer
stack-data
statsmodels
sympy
tenacity
tensorboard==2.19.0
tensorboard_data_server
tensorflow==2.19.0
tensorflow-probability==0.25.0
tensorflow_estimator
termcolor
tf_keras==2.19.0
threadpoolctl
tokenizers
torch
tornado
tqdm
traceback2==1.4.0
traitlets
transformers
typing_extensions
tzdata
umap-learn
unittest2==1.1.0
urllib3
wcwidth
Werkzeug
wheel==0.44.0
wrapt
xxhash
xyzservices
yarl
yellowbrick
zipp
zstandard==0.23.0